.main {
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
}

.contentWithDisabled {
  pointer-events: none;
}

.spinner {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%
}
