:global(:root) {
  --sd-actionbar-padding: 0rem 1rem;
  --sd-actionbar-margin: 1rem 0rem;
  --sd-actionbar-gap-max-with: 3rem;
  --sd-actionbar-gap-with: 10%;
  --sd-actionbar-box-shadow: 0 2px 8px 0 rgb(25 25 25 / 20%);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  padding: var(--sd-actionbar-padding);
  margin: var(--sd-actionbar-margin);
}

.gap {
  width: var(--sd-actionbar-gap-max-with);
  width: var(--sd-actionbar-gap-with);
}

.preBtn {
  flex: 1;
  box-shadow: var(--sd-actionbar-box-shadow);
}

.nextBtn {
  flex: 2;
  box-shadow: var(--sd-actionbar-box-shadow);
}

.submitBtn {
  flex: 2;
}
