:global(:root) {
  --sd-radio-margin: 0.25rem 0rem;
  --sd-radio-padding: 0.5rem 1rem;
  --sd-radio-background: #ffffff;
}

.main {
  width: 100%;
  background: var(--sd-radio-background);
  padding: var(--sd-radio-padding);
  margin: var(--sd-radio-margin);
}
